<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>297145122412-vfrnb4uoit2ka4ino74rk1sc9qokaa15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297145122412-vfrnb4uoit2ka4ino74rk1sc9qokaa15</string>
	<key>API_KEY</key>
	<string>AIzaSyA9blBYnsMW6UdHqGm1wrOTveB2AehA96Y</string>
	<key>GCM_SENDER_ID</key>
	<string>297145122412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mopcon.session.app</string>
	<key>PROJECT_ID</key>
	<string>mopcon-30dc8</string>
	<key>STORAGE_BUCKET</key>
	<string>mopcon-30dc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297145122412:ios:fb5fa834d63fa3cd</string>
	<key>DATABASE_URL</key>
	<string>https://mopcon-30dc8.firebaseio.com</string>
</dict>
</plist>